body {
    background: url(./space.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vignette {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

}

header {
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    border: solid;
    border-radius: 10px;
    border-color: white;
    padding: 2px 0;
    margin: 0 auto;
    width: 400px;
    transition: 0.25s;
}

header:hover {
    border-color: rebeccapurple;
}

nav {
    text-align: center;
}
nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline;
    text-align: center;    
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.25s;
}

nav ul li a:hover{
    color: blue;
}

.Fenyx {
    margin-top: 20px;
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imgFenyx {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: 0.25s;
}

.imgFenyx:hover {
    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgb(79, 0, 158); 
    width: 150px;
    height: 150px;

}

.a {
    display: flex;
    margin-top: 40px;
    margin-left: 2%;
    background-color: rgb(15, 15, 15);
    border: solid;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.imgs {
    padding: 0 20px 0;
    transition: 0.25s;
}

#py:hover {
    content: url(./python-hover.png);
}

#csharp:hover {
    content: url(./csharp-hover.png);
}

#js:hover {
    content: url(./js-hover.png);
}

.b {
    display: flex;
    margin-left: 2%;
}

.b h2{
    color: white;
    font-weight: normal;
    padding-inline: 16px;
}

.c hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    border-style: inset;
    border-width: 1px;
    width: 20em;
  }

.c p {
    text-align: justify;
    color: white;
    font-weight: normal;
    margin-top: 1em;
    margin-left: 2em;
    font-size: 14pt;
    width: 300px;
}

footer {
    background-color: #cfcfcf;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 -10px 20px 0 rgba(0,0,0,0.9) inset;
    transition: 0.5s;
}

footer:hover {
    background-color: rebeccapurple;
    color: #cfcfcf;
}